*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: black;
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;

}
.link-holder{
    margin-top: 2rem;
    margin-bottom: 2.5rem;

}

p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 32px;
}


.container{
    max-width: 72rem;
    width: 100%;
    height: 100%;

    
    
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
    
}
.nav-link{
    color: white;
    margin-left: 24px;
    text-decoration: none;
    font-weight: 600;

}

.logo{
    height: 100%;
}
.section-download{
    background-color: rgb(248, 242, 242);
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    display: flex;
    flex-direction:row;
    justify-content: center;

    

}
.section-download .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .tandc{
    text-align: center;
    font-size: .75rem;
}
.section-why .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-why{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.reasons{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    list-style: none;
    width: 100%;

}
.reason img{
    height: 8.7rem;
    width: 8.7rem;
}
.reason{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.reason p{
    font-size: 1rem;
}

.section-1{
    background-color: rgb(250, 205, 210);
    padding-top: 48px;
    padding-bottom:24px;
    height: 478px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero-image{
    width: 400px;
    margin-left: 72px;
}
h1{
    font-size: 40px;
}
.section-1-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-1-links{
    margin-top: 32px;
    margin-bottom: 32px;
}
.terms{
    font-size: 12px;
    max-width: 630px;
}
.link-button-black{
    background-color: black;
    color: white;

}
.link-button-outlined{
    border: 1px solid black;
    color: black;
}
.link-button{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}